{% load staticfiles %}
<html>
    <head>
        <title>NatWeb Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="print.css" media="print">
    <link rel="stylesheet" media="(max-width: 640px)" href="max-640px.css">
    <link rel="stylesheet" media="(min-width: 640px)" href="min-640px.css">
    <link rel="stylesheet" media="(orientation: portrait)" href="portrait.css">
    <link rel="stylesheet" media="(orientation: landscape)" href="landscape.css">
    </head>
<body>
    <div class="page-header">

        <h1><img src="http://i.imgur.com/vK4lwqD.png"></h1>
    </div>
    <div class="container">
        <div class="row"> 
        
            
            <div class="column">
            {% block content %}
            {% endblock %}
            </div>
            <div class="side-bar">
                
                <li>
                    <ul>menu</ul>
                    <ul>menu</ul>
                </li>
            </div>
        </div>
    </div>
    <div class="page-footer">
    </div>
</body>
</html>
