{% load staticfiles %}
<html>
    <head>
        <title>NatWeb Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
    </head>
    <body>
    <div class="page-header">
<a href="{% url "post_draft_list" %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><img src="http://i.imgur.com/vK4lwqD.png"></h1>
    </div>
    <div class="container-fluid">
        <div class="row"> 
            
            <div class="col-md-9 ">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="page-footer">
    </div>
</body>
</html>