* {
    box-sizing: border-box;
}

h1 a {
    color: pink;
}
body {
    text-align: center;

}
.page-header {
	
}
.page-footer{
	height: 400px;

}
.container-fluid {
	margin: 0 auto;
	
}
img {
	max-width: 100%;
}