* {
    box-sizing: border-box;
}

h1 a {
    color: pink;
}
body {
    text-align: center;

}
.page-header {
	
}
.page-footer{
	height: 400px;

}
.container {
	margin: 0 auto;
}
.column {
 width: 30%;
 margin: 0 auto;
}
.side-bar {
	float: right;
	width: 30%;
	margin: 0 auto;
	overflow: auto;
}
	
img {
	max-width: 100%;
}
