* {
    box-sizing: border-box;
}
p {
	color: #000000;
}
h1 a {
    color: pink;
}
body {
    text-align: center;
   

}
.page-header {
	
}
.page-footer{
	height: 400px;

}
.container {
	margin: 0 auto;
	
}
.column {
 width: 60%;
 margin: 0 auto;
 float: left;
 margin-left: 180px;
}
.side-bar {
	float: right;
	width: 22%;
	margin: 0 auto;
	overflow: auto;
	z-index: 1; 
	position: relative;
	height: 100%;
	margin-right: 10px;
	text-align: center;
}
	
img {
	max-width: 100%;
}

.side:first-child {
	padding-top: 20px;
}
.comment {
	text-align: left;
}
.row {
	width: 100%;
	color: #A9EDED;
	z-index: 2; 
	float: center;
	font-family: Helvetica, Bold;
	position:relative;
	top: -40px;left: 45px;
}
headerimg {
	z-index: 1;
	position: relative;
}
