h1 a {
    color: pink;
}
body {
    text-align: center;

}
.page-header {
	height: 400px;
	padding-right: 50px;
	padding-left: 100px;
}
.page-footer{
	height: 400px;
}
.container-fluid {
	margin: 0 auto;
	padding: 30px;
}