* {
    box-sizing: border-box;
}

h1 a {
    color: pink;
}
body {
    text-align: center;

}
.page-header {
	
}
.page-footer{
	height: 400px;

}
.container {
	margin: 0 auto;
	
}
.column {
 width: 50%;
 margin: 0 auto;
 float: left;
 margin-left: ;
}
.side-bar {
	float: right;
	width: 30%;
	margin: 0 auto;
	overflow: auto;
	z-index: 1; 
	position: relative;
	height: 300px;
	margin-right:40;
	text-align: left;
}
	
img {
	max-width: 100%;
}

.side:first-child {
	padding-top: 20px;
}
